<div class="container">
    <div class="personForm">
        <div>
            <div>
                <div>
                    <img [src]="'data:image/jpg;base64,' + person.photo"/>
                </div>

                <input type="file">
            </div>
        </div>
        <div>
            <form>
                <div>
                    <label>Имя:</label>
                    <div>
                        <input value={{person.firstname}}>
                    </div>
                </div>
                <div>
                    <label>Фамилия:</label>
                    <div>
                        <input value={{person.surname}}>
                    </div>
                </div>
                <div>
                    <label>Отчество:</label>
                    <div>
                        <input value={{person.patronymic}}>
                    </div>
                </div>
                <div>
                    <label>Должность:</label>
                    <div>
                        <input type="text" value={{person.post}}>
                    </div>
                </div>
                <div>
                    <label>ID Департамента:</label>
                    <div>
                        <input value={{person.departmentId}}>
                    </div>
                </div>
                <div>
                    <label></label>
                    <div>
                        <input type="button" class="btn btn-primary" value="Сохранить">
                        <input type="reset" class="btn btn-default" value="Очистить">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>