<div class="container">
    <div class="personForm">
        <div>
            <div>
                <div *ngIf="person.photo">
                    <img [src]="getPhoto()"/>
                </div>

                <input type="file" name="image" (change)="fileProgress($event)">
            </div>
        </div>
        <form name="form" (ngSubmit)="onSubmit()">
            <div>
                <div>
                    <label>Имя:</label>
                    <div>
                        <input [(ngModel)]="person.firstname" name="firstname">
                    </div>
                </div>
                <div>
                    <label>Фамилия:</label>
                    <div>
                        <input [(ngModel)]="person.surname" name="surname">
                    </div>
                </div>
                <div>
                    <label>Отчество:</label>
                    <div>
                        <input [(ngModel)]="person.patronymic" name="patronymic">
                    </div>
                </div>
                <div>
                    <label>Должность:</label>
                    <div>
                        <input [(ngModel)]="person.post" name="post" type="text">
                    </div>
                </div>
                <div>
                    <label>ID Департамента:</label>
                    <div>
                        <input [(ngModel)]="person.departmentId" name="departmentId">
                    </div>
                </div>

                <div>
                    <label></label>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Сохранить">
                        <input type="button" (click)=delete() class="btn btn-default" value="Удалить">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>