<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>persons</servlet-name>
        <jsp-file>views/persons.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>documents</servlet-name>
        <jsp-file>views/documents.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>authorDocuments</servlet-name>
        <jsp-file>views/authorDocuments.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>persons</servlet-name>
        <url-pattern>/persons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>documents</servlet-name>
        <url-pattern>/documents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authorDocuments</servlet-name>
        <url-pattern>/authorDocuments</url-pattern>
    </servlet-mapping>
</web-app>
